<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/login.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="main">
      <div><span class="welcome"></span>님 환영합니다.</div>
    </div>
    <br /><br />
    <a href="/">홈으로 이동</a>
    <script>
      const userinfo = "<%= userinfo %>";
    </script>
  </body>
  <script src="/js/login.js"></script>
</html>
